@charset "UTF-8";
 /* * CSS global */
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #E0DCBA, #695D94);
}

main {
    background-color: white;
    border-radius: 10px; /*borda redonda*/
           /*andar andar espalhar*/
    box-shadow: 5px 5px 15px #362f4e; /*sombreamento*/
    width: 600px; /*LARGURA*/
    padding: 10px; /*espaçamento interno*/
    margin: auto; /*centralizar*/
}

h1 {
   color: #695D94;
   text-align: center;
   text-shadow: 1px 1px 0px #2e2942af;
}

h2 {
   color: #94906C;
}

p {
    text-align: justify;
}
